*.project
*.loadpath
*.powrc
*.rvmrc
site/config/additional_environment.rb
site/config/configuration.yml
site/config/email.yml
site/config/initializers/session_store.rb
site/config/initializers/secret_token.rb
site/coverage
site/db/*.db
site/db/*.sqlite3
site/db/schema.rb
site/files/*
site/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
site/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
site/log/*.log*
site/log/mongrel_debug
site/public/dispatch.*
site/tmp/*
site/tmp/cache/*
site/tmp/pdf/*
site/tmp/sessions/*
site/tmp/sockets/*
site/tmp/test/*
site/tmp/thumbnails/*
site/vendor/cache
site/vendor/rails
*.rbc

site/.bundle
site/Gemfile.lock
site/Gemfile.local

*.idea
