<footer class="global-footer">
  <div class="link-group">
    <h5>Product</h5>
    <a href="https://slides.com/">Home</a>
    <a href="https://slides.com/explore">Explore</a>
    <a href="https://slides.com/features">Features</a>
    <a href="https://slides.com/pricing">Pricing</a>
  </div>

  <div class="link-group">
    <h5>Help</h5>
    <a href="http://help.slides.com" target="_blank">Forum</a>
    <a href="http://help.slides.com/knowledgebase" target="_blank">Knowledge Base</a>
    <a href="http://help.slides.com" data-feedback-mode="smartvote">Leave Feedback</a>
    <a href="http://help.slides.com" data-feedback-mode="contact">Report an Issue</a>
  </div>

  <div class="link-group">
    <h5>News</h5>
    <a href="http://blog.slides.com" target="_blank">Blog</a>
    <a href="http://twitter.com/slides" target="_blank">Twitter</a>
    <a href="http://facebook.com/slidesapp" target="_blank">Facebook</a>
    <a href="http://plus.google.com/+slidesapp/" rel="publisher" target="_blank">Google+</a>
  </div>

  <div class="link-group">
    <h5>Company</h5>
    <a href="https://slides.com/about">About Slides</a>
    <a href="https://slides.com/changelog">What's New</a>
    <a href="https://slides.com/terms">Terms of Service</a>
    <a href="https://slides.com/privacy">Privacy Policy</a>
  </div>

  <div class="copyright">
    <span>© 2016 Slideme</span>
  </div>
</footer>