/* line 1, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs, .sl-block-content:not([data-highlight-theme]) .hljs {
  display: block;
  overflow-x: auto;
  background: #3f3f3f;
  color: #dcdcdc;
}

/* line 9, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-keyword, [data-highlight-theme="zenburn"] .hljs-selector-tag, [data-highlight-theme="zenburn"] .hljs-tag {
  color: #e3ceab;
}

/* line 15, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-keyword, .sl-block-content:not([data-highlight-theme]) .hljs-selector-tag, .sl-block-content:not([data-highlight-theme]) .hljs-tag {
  color: #e3ceab;
}

/* line 20, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-template-tag, .sl-block-content:not([data-highlight-theme]) .hljs-template-tag {
  color: #dcdcdc;
}

/* line 24, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-number, .sl-block-content:not([data-highlight-theme]) .hljs-number {
  color: #8cd0d3;
}

/* line 29, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-variable, [data-highlight-theme="zenburn"] .hljs-template-variable, [data-highlight-theme="zenburn"] .hljs-attribute {
  color: #efdcbc;
}

/* line 35, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-variable, .sl-block-content:not([data-highlight-theme]) .hljs-template-variable, .sl-block-content:not([data-highlight-theme]) .hljs-attribute {
  color: #efdcbc;
}

/* line 40, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-literal, .sl-block-content:not([data-highlight-theme]) .hljs-literal {
  color: #efefaf;
}

/* line 44, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-subst, .sl-block-content:not([data-highlight-theme]) .hljs-subst {
  color: #8f8f8f;
}

/* line 49, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-title, [data-highlight-theme="zenburn"] .hljs-name, [data-highlight-theme="zenburn"] .hljs-selector-id, [data-highlight-theme="zenburn"] .hljs-selector-class, [data-highlight-theme="zenburn"] .hljs-section, [data-highlight-theme="zenburn"] .hljs-type {
  color: #efef8f;
}

/* line 55, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-title, .sl-block-content:not([data-highlight-theme]) .hljs-name, .sl-block-content:not([data-highlight-theme]) .hljs-selector-id, .sl-block-content:not([data-highlight-theme]) .hljs-selector-class, .sl-block-content:not([data-highlight-theme]) .hljs-section, .sl-block-content:not([data-highlight-theme]) .hljs-type {
  color: #efef8f;
}

/* line 61, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-symbol, [data-highlight-theme="zenburn"] .hljs-bullet, [data-highlight-theme="zenburn"] .hljs-link {
  color: #dca3a3;
}

/* line 67, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-symbol, .sl-block-content:not([data-highlight-theme]) .hljs-bullet, .sl-block-content:not([data-highlight-theme]) .hljs-link {
  color: #dca3a3;
}

/* line 73, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-deletion, [data-highlight-theme="zenburn"] .hljs-string, [data-highlight-theme="zenburn"] .hljs-built_in, [data-highlight-theme="zenburn"] .hljs-builtin-name {
  color: #cc9393;
}

/* line 79, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-deletion, .sl-block-content:not([data-highlight-theme]) .hljs-string, .sl-block-content:not([data-highlight-theme]) .hljs-built_in, .sl-block-content:not([data-highlight-theme]) .hljs-builtin-name {
  color: #cc9393;
}

/* line 85, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-addition, [data-highlight-theme="zenburn"] .hljs-comment, [data-highlight-theme="zenburn"] .hljs-quote, [data-highlight-theme="zenburn"] .hljs-meta {
  color: #7f9f7f;
}

/* line 91, ../../scss/deck/highlight.scss */
.sl-block-content:not([data-highlight-theme]) .hljs-addition, .sl-block-content:not([data-highlight-theme]) .hljs-comment, .sl-block-content:not([data-highlight-theme]) .hljs-quote, .sl-block-content:not([data-highlight-theme]) .hljs-meta {
  color: #7f9f7f;
}

/* line 96, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-emphasis, .sl-block-content:not([data-highlight-theme]) .hljs-emphasis {
  font-style: italic;
}

/* line 100, ../../scss/deck/highlight.scss */
[data-highlight-theme="zenburn"] .hljs-strong, .sl-block-content:not([data-highlight-theme]) .hljs-strong {
  font-weight: bold;
}

/* line 105, ../../scss/deck/highlight.scss */
[data-highlight-theme="ascetic"] .hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: black;
}
/* line 111, ../../scss/deck/highlight.scss */
[data-highlight-theme="ascetic"] .hljs-string, [data-highlight-theme="ascetic"] .hljs-variable, [data-highlight-theme="ascetic"] .hljs-template-variable, [data-highlight-theme="ascetic"] .hljs-symbol, [data-highlight-theme="ascetic"] .hljs-bullet, [data-highlight-theme="ascetic"] .hljs-section, [data-highlight-theme="ascetic"] .hljs-addition, [data-highlight-theme="ascetic"] .hljs-attribute, [data-highlight-theme="ascetic"] .hljs-link {
  color: #888;
}
/* line 114, ../../scss/deck/highlight.scss */
[data-highlight-theme="ascetic"] .hljs-comment, [data-highlight-theme="ascetic"] .hljs-quote, [data-highlight-theme="ascetic"] .hljs-meta, [data-highlight-theme="ascetic"] .hljs-deletion {
  color: #ccc;
}
/* line 117, ../../scss/deck/highlight.scss */
[data-highlight-theme="ascetic"] .hljs-keyword, [data-highlight-theme="ascetic"] .hljs-selector-tag, [data-highlight-theme="ascetic"] .hljs-section, [data-highlight-theme="ascetic"] .hljs-name, [data-highlight-theme="ascetic"] .hljs-type, [data-highlight-theme="ascetic"] .hljs-strong {
  font-weight: bold;
}
/* line 120, ../../scss/deck/highlight.scss */
[data-highlight-theme="ascetic"] .hljs-emphasis {
  font-style: italic;
}

/* line 126, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs {
  display: block;
  overflow-x: auto;
  background: #000080;
  color: #0ff;
}
/* line 132, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-subst {
  color: #0ff;
}
/* line 135, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-string, [data-highlight-theme="far"] .hljs-attribute, [data-highlight-theme="far"] .hljs-symbol, [data-highlight-theme="far"] .hljs-bullet, [data-highlight-theme="far"] .hljs-built_in, [data-highlight-theme="far"] .hljs-builtin-name, [data-highlight-theme="far"] .hljs-template-tag, [data-highlight-theme="far"] .hljs-template-variable, [data-highlight-theme="far"] .hljs-addition {
  color: #ff0;
}
/* line 138, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-keyword, [data-highlight-theme="far"] .hljs-selector-tag, [data-highlight-theme="far"] .hljs-section, [data-highlight-theme="far"] .hljs-type, [data-highlight-theme="far"] .hljs-name, [data-highlight-theme="far"] .hljs-selector-id, [data-highlight-theme="far"] .hljs-selector-class, [data-highlight-theme="far"] .hljs-variable {
  color: #fff;
}
/* line 141, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-comment, [data-highlight-theme="far"] .hljs-quote, [data-highlight-theme="far"] .hljs-doctag, [data-highlight-theme="far"] .hljs-deletion {
  color: #888;
}
/* line 144, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-number, [data-highlight-theme="far"] .hljs-regexp, [data-highlight-theme="far"] .hljs-literal, [data-highlight-theme="far"] .hljs-link {
  color: #0f0;
}
/* line 147, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-meta {
  color: #008080;
}
/* line 150, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-keyword, [data-highlight-theme="far"] .hljs-selector-tag, [data-highlight-theme="far"] .hljs-title, [data-highlight-theme="far"] .hljs-section, [data-highlight-theme="far"] .hljs-name, [data-highlight-theme="far"] .hljs-strong {
  font-weight: bold;
}
/* line 153, ../../scss/deck/highlight.scss */
[data-highlight-theme="far"] .hljs-emphasis {
  font-style: italic;
}

/* line 159, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs {
  display: block;
  background: white;
  color: #333333;
  overflow-x: auto;
}
/* line 165, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-comment, [data-highlight-theme="github-gist"] .hljs-meta {
  color: #969896;
}
/* line 168, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-string, [data-highlight-theme="github-gist"] .hljs-variable, [data-highlight-theme="github-gist"] .hljs-template-variable, [data-highlight-theme="github-gist"] .hljs-strong, [data-highlight-theme="github-gist"] .hljs-emphasis, [data-highlight-theme="github-gist"] .hljs-quote {
  color: #df5000;
}
/* line 171, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-keyword, [data-highlight-theme="github-gist"] .hljs-selector-tag, [data-highlight-theme="github-gist"] .hljs-type {
  color: #a71d5d;
}
/* line 174, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-literal, [data-highlight-theme="github-gist"] .hljs-symbol, [data-highlight-theme="github-gist"] .hljs-bullet, [data-highlight-theme="github-gist"] .hljs-attribute {
  color: #0086b3;
}
/* line 177, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-section, [data-highlight-theme="github-gist"] .hljs-name {
  color: #63a35c;
}
/* line 180, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-tag {
  color: #333333;
}
/* line 183, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-title, [data-highlight-theme="github-gist"] .hljs-attr, [data-highlight-theme="github-gist"] .hljs-selector-id, [data-highlight-theme="github-gist"] .hljs-selector-class, [data-highlight-theme="github-gist"] .hljs-selector-attr, [data-highlight-theme="github-gist"] .hljs-selector-pseudo {
  color: #795da3;
}
/* line 186, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
/* line 190, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
/* line 194, ../../scss/deck/highlight.scss */
[data-highlight-theme="github-gist"] .hljs-link {
  text-decoration: underline;
}

/* line 200, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs {
  display: block;
  overflow-x: auto;
  background: #000;
  color: #f8f8f8;
}
/* line 206, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-comment, [data-highlight-theme="ir-black"] .hljs-quote, [data-highlight-theme="ir-black"] .hljs-meta {
  color: #7c7c7c;
}
/* line 209, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-keyword, [data-highlight-theme="ir-black"] .hljs-selector-tag, [data-highlight-theme="ir-black"] .hljs-tag, [data-highlight-theme="ir-black"] .hljs-name {
  color: #96cbfe;
}
/* line 212, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-attribute, [data-highlight-theme="ir-black"] .hljs-selector-id {
  color: #ffffb6;
}
/* line 215, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-string, [data-highlight-theme="ir-black"] .hljs-selector-attr, [data-highlight-theme="ir-black"] .hljs-selector-pseudo, [data-highlight-theme="ir-black"] .hljs-addition {
  color: #a8ff60;
}
/* line 218, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-subst {
  color: #daefa3;
}
/* line 221, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-regexp, [data-highlight-theme="ir-black"] .hljs-link {
  color: #e9c062;
}
/* line 224, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-title, [data-highlight-theme="ir-black"] .hljs-section, [data-highlight-theme="ir-black"] .hljs-type, [data-highlight-theme="ir-black"] .hljs-doctag {
  color: #ffffb6;
}
/* line 227, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-symbol, [data-highlight-theme="ir-black"] .hljs-bullet, [data-highlight-theme="ir-black"] .hljs-variable, [data-highlight-theme="ir-black"] .hljs-template-variable, [data-highlight-theme="ir-black"] .hljs-literal {
  color: #c6c5fe;
}
/* line 230, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-number, [data-highlight-theme="ir-black"] .hljs-deletion {
  color: #ff73fd;
}
/* line 233, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-emphasis {
  font-style: italic;
}
/* line 236, ../../scss/deck/highlight.scss */
[data-highlight-theme="ir-black"] .hljs-strong {
  font-weight: bold;
}

/* line 242, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs {
  display: block;
  overflow-x: auto;
  background: #272822;
  color: #ddd;
}
/* line 248, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-tag, [data-highlight-theme="monokai"] .hljs-keyword, [data-highlight-theme="monokai"] .hljs-selector-tag, [data-highlight-theme="monokai"] .hljs-literal, [data-highlight-theme="monokai"] .hljs-strong, [data-highlight-theme="monokai"] .hljs-name {
  color: #f92672;
}
/* line 251, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-code {
  color: #66d9ef;
}
/* line 254, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-class .hljs-title {
  color: white;
}
/* line 257, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-attribute, [data-highlight-theme="monokai"] .hljs-symbol, [data-highlight-theme="monokai"] .hljs-regexp, [data-highlight-theme="monokai"] .hljs-link {
  color: #bf79db;
}
/* line 260, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-string, [data-highlight-theme="monokai"] .hljs-bullet, [data-highlight-theme="monokai"] .hljs-subst, [data-highlight-theme="monokai"] .hljs-title, [data-highlight-theme="monokai"] .hljs-section, [data-highlight-theme="monokai"] .hljs-emphasis, [data-highlight-theme="monokai"] .hljs-type, [data-highlight-theme="monokai"] .hljs-built_in, [data-highlight-theme="monokai"] .hljs-builtin-name, [data-highlight-theme="monokai"] .hljs-selector-attr, [data-highlight-theme="monokai"] .hljs-selector-pseudo, [data-highlight-theme="monokai"] .hljs-addition, [data-highlight-theme="monokai"] .hljs-variable, [data-highlight-theme="monokai"] .hljs-template-tag, [data-highlight-theme="monokai"] .hljs-template-variable {
  color: #a6e22e;
}
/* line 263, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-comment, [data-highlight-theme="monokai"] .hljs-quote, [data-highlight-theme="monokai"] .hljs-deletion, [data-highlight-theme="monokai"] .hljs-meta {
  color: #75715e;
}
/* line 266, ../../scss/deck/highlight.scss */
[data-highlight-theme="monokai"] .hljs-keyword, [data-highlight-theme="monokai"] .hljs-selector-tag, [data-highlight-theme="monokai"] .hljs-literal, [data-highlight-theme="monokai"] .hljs-doctag, [data-highlight-theme="monokai"] .hljs-title, [data-highlight-theme="monokai"] .hljs-section, [data-highlight-theme="monokai"] .hljs-type, [data-highlight-theme="monokai"] .hljs-selector-id {
  font-weight: bold;
}

/* line 272, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs {
  display: block;
  overflow-x: auto;
  background: #282b2e;
}
/* line 277, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-keyword, [data-highlight-theme="obsidian"] .hljs-selector-tag, [data-highlight-theme="obsidian"] .hljs-literal, [data-highlight-theme="obsidian"] .hljs-selector-id {
  color: #93c763;
}
/* line 280, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-number {
  color: #ffcd22;
}
/* line 283, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs {
  color: #e0e2e4;
}
/* line 286, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-attribute {
  color: #668bb0;
}
/* line 289, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-code, [data-highlight-theme="obsidian"] .hljs-class .hljs-title, [data-highlight-theme="obsidian"] .hljs-section {
  color: white;
}
/* line 292, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-regexp, [data-highlight-theme="obsidian"] .hljs-link {
  color: #d39745;
}
/* line 295, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-meta {
  color: #557182;
}
/* line 298, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-tag, [data-highlight-theme="obsidian"] .hljs-name, [data-highlight-theme="obsidian"] .hljs-bullet, [data-highlight-theme="obsidian"] .hljs-subst, [data-highlight-theme="obsidian"] .hljs-emphasis, [data-highlight-theme="obsidian"] .hljs-type, [data-highlight-theme="obsidian"] .hljs-built_in, [data-highlight-theme="obsidian"] .hljs-selector-attr, [data-highlight-theme="obsidian"] .hljs-selector-pseudo, [data-highlight-theme="obsidian"] .hljs-addition, [data-highlight-theme="obsidian"] .hljs-variable, [data-highlight-theme="obsidian"] .hljs-template-tag, [data-highlight-theme="obsidian"] .hljs-template-variable {
  color: #8cbbad;
}
/* line 301, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-string, [data-highlight-theme="obsidian"] .hljs-symbol {
  color: #ec7600;
}
/* line 304, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-comment, [data-highlight-theme="obsidian"] .hljs-quote, [data-highlight-theme="obsidian"] .hljs-deletion {
  color: #818e96;
}
/* line 307, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-selector-class {
  color: #a082bd;
}
/* line 310, ../../scss/deck/highlight.scss */
[data-highlight-theme="obsidian"] .hljs-keyword, [data-highlight-theme="obsidian"] .hljs-selector-tag, [data-highlight-theme="obsidian"] .hljs-literal, [data-highlight-theme="obsidian"] .hljs-doctag, [data-highlight-theme="obsidian"] .hljs-title, [data-highlight-theme="obsidian"] .hljs-section, [data-highlight-theme="obsidian"] .hljs-type, [data-highlight-theme="obsidian"] .hljs-name, [data-highlight-theme="obsidian"] .hljs-strong {
  font-weight: bold;
}

/* line 316, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs {
  display: block;
  overflow-x: auto;
  background: #002b36;
  color: #839496;
}
/* line 322, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-comment, [data-highlight-theme="solarized-dark"] .hljs-quote {
  color: #586e75;
}
/* line 325, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-keyword, [data-highlight-theme="solarized-dark"] .hljs-selector-tag, [data-highlight-theme="solarized-dark"] .hljs-addition {
  color: #859900;
}
/* line 328, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-number, [data-highlight-theme="solarized-dark"] .hljs-string, [data-highlight-theme="solarized-dark"] .hljs-meta .hljs-meta-string, [data-highlight-theme="solarized-dark"] .hljs-literal, [data-highlight-theme="solarized-dark"] .hljs-doctag, [data-highlight-theme="solarized-dark"] .hljs-regexp {
  color: #2aa198;
}
/* line 331, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-title, [data-highlight-theme="solarized-dark"] .hljs-section, [data-highlight-theme="solarized-dark"] .hljs-name, [data-highlight-theme="solarized-dark"] .hljs-selector-id, [data-highlight-theme="solarized-dark"] .hljs-selector-class {
  color: #268bd2;
}
/* line 334, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-attribute, [data-highlight-theme="solarized-dark"] .hljs-attr, [data-highlight-theme="solarized-dark"] .hljs-variable, [data-highlight-theme="solarized-dark"] .hljs-template-variable, [data-highlight-theme="solarized-dark"] .hljs-class .hljs-title, [data-highlight-theme="solarized-dark"] .hljs-type {
  color: #b58900;
}
/* line 337, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-symbol, [data-highlight-theme="solarized-dark"] .hljs-bullet, [data-highlight-theme="solarized-dark"] .hljs-subst {
  color: #cb4b16;
}
/* line 340, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-meta {
  color: #cb4b16;
}
/* line 342, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-meta .hljs-keyword {
  color: #cb4b16;
}
/* line 346, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-selector-attr, [data-highlight-theme="solarized-dark"] .hljs-selector-pseudo, [data-highlight-theme="solarized-dark"] .hljs-link {
  color: #cb4b16;
}
/* line 349, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-built_in, [data-highlight-theme="solarized-dark"] .hljs-deletion {
  color: #dc322f;
}
/* line 352, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-formula {
  background: #073642;
}
/* line 355, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-emphasis {
  font-style: italic;
}
/* line 358, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-dark"] .hljs-strong {
  font-weight: bold;
}

/* line 364, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs {
  display: block;
  overflow-x: auto;
  background: #fdf6e3;
  color: #657b83;
}
/* line 370, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-comment, [data-highlight-theme="solarized-light"] .hljs-quote {
  color: #93a1a1;
}
/* line 373, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-keyword, [data-highlight-theme="solarized-light"] .hljs-selector-tag, [data-highlight-theme="solarized-light"] .hljs-addition {
  color: #859900;
}
/* line 376, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-number, [data-highlight-theme="solarized-light"] .hljs-string, [data-highlight-theme="solarized-light"] .hljs-meta .hljs-meta-string, [data-highlight-theme="solarized-light"] .hljs-literal, [data-highlight-theme="solarized-light"] .hljs-doctag, [data-highlight-theme="solarized-light"] .hljs-regexp {
  color: #2aa198;
}
/* line 379, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-title, [data-highlight-theme="solarized-light"] .hljs-section, [data-highlight-theme="solarized-light"] .hljs-name, [data-highlight-theme="solarized-light"] .hljs-selector-id, [data-highlight-theme="solarized-light"] .hljs-selector-class {
  color: #268bd2;
}
/* line 382, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-attribute, [data-highlight-theme="solarized-light"] .hljs-attr, [data-highlight-theme="solarized-light"] .hljs-variable, [data-highlight-theme="solarized-light"] .hljs-template-variable, [data-highlight-theme="solarized-light"] .hljs-class .hljs-title, [data-highlight-theme="solarized-light"] .hljs-type {
  color: #b58900;
}
/* line 385, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-symbol, [data-highlight-theme="solarized-light"] .hljs-bullet, [data-highlight-theme="solarized-light"] .hljs-subst {
  color: #cb4b16;
}
/* line 388, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-meta {
  color: #cb4b16;
}
/* line 390, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-meta .hljs-keyword {
  color: #cb4b16;
}
/* line 394, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-selector-attr, [data-highlight-theme="solarized-light"] .hljs-selector-pseudo, [data-highlight-theme="solarized-light"] .hljs-link {
  color: #cb4b16;
}
/* line 397, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-built_in, [data-highlight-theme="solarized-light"] .hljs-deletion {
  color: #dc322f;
}
/* line 400, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-formula {
  background: #eee8d5;
}
/* line 403, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-emphasis {
  font-style: italic;
}
/* line 406, ../../scss/deck/highlight.scss */
[data-highlight-theme="solarized-light"] .hljs-strong {
  font-weight: bold;
}

/* line 412, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-comment, [data-highlight-theme="tomorrow"] .hljs-quote {
  color: #8e908c;
}
/* line 415, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-variable, [data-highlight-theme="tomorrow"] .hljs-template-variable, [data-highlight-theme="tomorrow"] .hljs-tag, [data-highlight-theme="tomorrow"] .hljs-name, [data-highlight-theme="tomorrow"] .hljs-selector-id, [data-highlight-theme="tomorrow"] .hljs-selector-class, [data-highlight-theme="tomorrow"] .hljs-regexp, [data-highlight-theme="tomorrow"] .hljs-deletion {
  color: #c82829;
}
/* line 418, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-number, [data-highlight-theme="tomorrow"] .hljs-built_in, [data-highlight-theme="tomorrow"] .hljs-builtin-name, [data-highlight-theme="tomorrow"] .hljs-literal, [data-highlight-theme="tomorrow"] .hljs-type, [data-highlight-theme="tomorrow"] .hljs-params, [data-highlight-theme="tomorrow"] .hljs-meta, [data-highlight-theme="tomorrow"] .hljs-link {
  color: #f5871f;
}
/* line 421, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-attribute {
  color: #eab700;
}
/* line 424, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-string, [data-highlight-theme="tomorrow"] .hljs-symbol, [data-highlight-theme="tomorrow"] .hljs-bullet, [data-highlight-theme="tomorrow"] .hljs-addition {
  color: #718c00;
}
/* line 427, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-title, [data-highlight-theme="tomorrow"] .hljs-section {
  color: #4271ae;
}
/* line 430, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-keyword, [data-highlight-theme="tomorrow"] .hljs-selector-tag {
  color: #8959a8;
}
/* line 433, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
}
/* line 439, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-emphasis {
  font-style: italic;
}
/* line 442, ../../scss/deck/highlight.scss */
[data-highlight-theme="tomorrow"] .hljs-strong {
  font-weight: bold;
}

/* line 448, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs {
  display: block;
  overflow-x: auto;
  background: #fff;
  color: black;
}
/* line 454, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-comment, [data-highlight-theme="xcode"] .hljs-quote {
  color: #006a00;
}
/* line 457, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-keyword, [data-highlight-theme="xcode"] .hljs-selector-tag, [data-highlight-theme="xcode"] .hljs-literal {
  color: #aa0d91;
}
/* line 460, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-name {
  color: #008;
}
/* line 463, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-variable, [data-highlight-theme="xcode"] .hljs-template-variable {
  color: #660;
}
/* line 466, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-string {
  color: #c41a16;
}
/* line 469, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-regexp, [data-highlight-theme="xcode"] .hljs-link {
  color: #080;
}
/* line 472, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-title, [data-highlight-theme="xcode"] .hljs-tag, [data-highlight-theme="xcode"] .hljs-symbol, [data-highlight-theme="xcode"] .hljs-bullet, [data-highlight-theme="xcode"] .hljs-number, [data-highlight-theme="xcode"] .hljs-meta {
  color: #1c00cf;
}
/* line 475, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-section, [data-highlight-theme="xcode"] .hljs-class .hljs-title, [data-highlight-theme="xcode"] .hljs-type, [data-highlight-theme="xcode"] .hljs-attr, [data-highlight-theme="xcode"] .hljs-built_in, [data-highlight-theme="xcode"] .hljs-builtin-name, [data-highlight-theme="xcode"] .hljs-params {
  color: #5c2699;
}
/* line 478, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-attribute, [data-highlight-theme="xcode"] .hljs-subst {
  color: #000;
}
/* line 481, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-formula {
  background-color: #eee;
  font-style: italic;
}
/* line 485, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-addition {
  background-color: #baeeba;
}
/* line 488, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-deletion {
  background-color: #ffc8bd;
}
/* line 491, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-selector-id, [data-highlight-theme="xcode"] .hljs-selector-class {
  color: #9b703f;
}
/* line 494, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-doctag, [data-highlight-theme="xcode"] .hljs-strong {
  font-weight: bold;
}
/* line 497, ../../scss/deck/highlight.scss */
[data-highlight-theme="xcode"] .hljs-emphasis {
  font-style: italic;
}
