.theme-color-sky-blue {
  background-color: #dcedf1;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #f7fbfc 0%, #add9e4 100%);
  background-image: radial-gradient(circle farthest-corner at center, #f7fbfc 0%, #add9e4 100%);
  body {
    background: transparent;
  }
  .theme-body-color-block {
    background: #333333;
  }
  .theme-link-color-block {
    background: #3b759e;
  }
  .themed, .reveal {
    color: #333333;
  }
  .themed a, .reveal a {
    color: #3b759e;
  }
  .themed a:hover {
    color: #74a7cb;
  }
  .reveal {
    a:hover {
      color: #74a7cb;
    }
    .controls {
      .navigate-left {
        border-right-color: #3b759e;
        &.enabled {
          border-right-color: #3b759e;
        }
      }
      .navigate-right {
        border-left-color: #3b759e;
        &.enabled {
          border-left-color: #3b759e;
        }
      }
      .navigate-up {
        border-bottom-color: #3b759e;
        &.enabled {
          border-bottom-color: #3b759e;
        }
      }
      .navigate-down {
        border-top-color: #3b759e;
        &.enabled {
          border-top-color: #3b759e;
        }
      }
      .navigate-left.enabled:hover {
        border-right-color: #74a7cb;
      }
      .navigate-right.enabled:hover {
        border-left-color: #74a7cb;
      }
      .navigate-up.enabled:hover {
        border-bottom-color: #74a7cb;
      }
      .navigate-down.enabled:hover {
        border-top-color: #74a7cb;
      }
    }
    .progress {
      background: rgba(0, 0, 0, 0.2);
      span {
        background: #3b759e;
        -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      }
    }
    .slide-number {
      color: #111;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
