
.theme-font-montserrat .themed, .theme-font-montserrat .reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

.theme-font-montserrat .themed section, .theme-font-montserrat .reveal section {
  line-height: 1.3;
}

.theme-font-montserrat .themed h1, .theme-font-montserrat .themed h2, .theme-font-montserrat .themed h3, .theme-font-montserrat .themed h4, .theme-font-montserrat .themed h5, .theme-font-montserrat .themed h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: none;
  line-height: 1.3;
  font-weight: normal;
}

.theme-font-montserrat .reveal h1, .theme-font-montserrat .reveal h2, .theme-font-montserrat .reveal h3, .theme-font-montserrat .reveal h4, .theme-font-montserrat .reveal h5, .theme-font-montserrat .reveal h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: none;
  line-height: 1.3;
  font-weight: normal;
}
