
.theme-font-palatino .themed, .theme-font-palatino .reveal {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  font-size: 30px;
}

.theme-font-palatino .themed section, .theme-font-palatino .reveal section {
  line-height: 1.3;
}

.theme-font-palatino .themed h1, .theme-font-palatino .themed h2, .theme-font-palatino .themed h3, .theme-font-palatino .themed h4, .theme-font-palatino .themed h5, .theme-font-palatino .themed h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  text-transform: none;
  line-height: 1.3;
  font-weight: normal;
}

.theme-font-palatino .reveal h1, .theme-font-palatino .reveal h2, .theme-font-palatino .reveal h3, .theme-font-palatino .reveal h4, .theme-font-palatino .reveal h5, .theme-font-palatino .reveal h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  text-transform: none;
  line-height: 1.3;
  font-weight: normal;
}
